<div class="card" id="camp-image-lists">
  <div class="text-center">
    <h3 class="title">みんなのキャンプ</h3>
  </div>
  <div>
    <%= link_to  reload_path, remote: true do %>
      <i class="fa-solid fa-arrow-rotate-right fa-2x float-right" style="color: black;"></i>
    <% end %>
  </div>
  <div class="content">
    <div class="row">
      <%= render partial: 'post', collection: posts %>
    </div>
  </div>
</div>