<div class="top-content container-fluid">
  <div class="content-header">
    <div class="text-center">
      <div class="top-comment">
        <p class="top-discription">あなたのキャンプをより快適に</p>
        <div class="discription mt-3">
          <h5>年々増えていくキャンプ道具の管理<br>
          キャンプ場に着いてから忘れ物に気付く<br>
          そんな経験ありませんか<br></h5>
          <h2>煩わしいキャンプライフの悩みを解決します</h2>
        </div>
        <% unless logged_in? %>
          <%= link_to "ユーザー登録をする", new_user_path, class: 'btn btn-info rounded-pill py-0 my-3', style: 'font-size: 22px; text-decoration: none;' %>
        <% end %>
      </div>
      <%= link_to '#items' do %>
        <i class="fa-solid fa-angle-down fa-3x mb-3"></i>
      <% end %>
    </div>
  </div>
  
</div>
<div class="container-fluid">
  <%= render 'shared/top_links' %>
  <div class="text-center">
    <div class="btn my-5" id="open-btn">みんなのキャンプを覗いてみる</div>
  </div>
</div>
<div class="container">
  <div id="camp-images" class="pb-5"></div>
</div>

<script>
$("#open-btn").on('click', function(){
  $('#camp-images').html('<%= escape_javascript(render partial: 'more_view', locals: { posts: @posts }) %>');
  $('#open-btn').remove();
});

$(function(){
  // #で始まるa要素をクリックした場合に処理
  $('a[href^="#"]').click(function(){
    // 移動先を0px調整する。0を30にすると30px下にずらすことができる。
    var adjust = 300;
    // スクロールの速度（ミリ秒）
    var speed = 400;
    // アンカーの値取得 リンク先（href）を取得して、hrefという変数に代入
    var href= $(this).attr("href");
    // 移動先を取得 リンク先(href）のidがある要素を探して、targetに代入
    var target = $(href == "#" || href == "" ? 'html' : href);
    // 移動先を調整 idの要素の位置をoffset()で取得して、positionに代入
    var position = target.offset().top - adjust;
    // スムーススクロール linear（等速） or swing（変速）
    $('body,html').animate({scrollTop:position}, speed, 'swing');
    return false;
  });
});
</script>



