<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1><%= "CAMPER's" %></h1>
    <div class='text-center'>
    <%= link_to "ログイン", login_path %>
    <%= link_to  "ユーザー登録をする", new_user_path %>

    </div>
  </div>
</div>
