<div class="content-header" id="top-page">
  <div class="text-center " style="color: black;">
    <h1>あなたのキャンプをより快適に</h1>
    <% unless logged_in? %>
      <%= link_to "ユーザー登録をする", new_user_path%>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="text-center">
      <div class="btn btn-info mt-4" id="open-btn">みんなのキャンプを覗いてみる</div>
    </div>
  </div>
  <div id="camp-images"></div>
</div>
<script>
$("#open-btn").on('click', function(){
  $('#camp-images').html('<%= escape_javascript(render partial: 'more_view', locals: { posts: @posts }) %>');
  $('#open-btn').remove();
});
</script>



