<div class="content-header">
  <div class="container-fluid">
    <h1 class="text-center">CAMPER'sとは</h1>
    <% unless logged_in? %>
      <div class="text-center">
        <%= link_to "ユーザー登録をする", new_user_path%>
      </div>
    <% end %>
  </div>
</div>
