<div class="top-content">
  <div class="content-header">
    <div class="text-center">
      <div class="top-comment py-3 mt-3">
        <p class="top-description mb-0 mt-4">あなたのキャンプをより快適に</p>
        <p class="description mb-5">年々増えていくキャンプ道具の管理<br>
        キャンプ場に着いてから忘れ物に気付く<br>
        煩わしいキャンプライフの悩みを解決します</p>
      </div>
      <% unless logged_in? %>
        <%= link_to "ユーザー登録をする", new_user_path, class: 'btn btn-info rounded-pill py-0 my-3', style: 'font-size: 22px; text-decoration: none;' %>
      <% end %>
      <%= render 'shared/links' %>
    </div>
  </div>
  <div class="container-fluid">
    <div class="text-center">
      <div class="btn btn-info rounded-pill my-5" id="open-btn">みんなのキャンプを覗いてみる</div>
    </div>
  </div>
  <div class="container">
    <div id="camp-images"></div>
  </div>
</div>

<script>
$("#open-btn").on('click', function(){
  $('#camp-images').html('<%= escape_javascript(render partial: 'more_view', locals: { posts: @posts }) %>');
  $('#open-btn').remove();
});
</script>



