<p><%= @user.name %>様</p>
<p>CAMPER'sをご利用頂きありがとうございます。</p>
<p>===================================</p>
<p>パスワード再設定のご依頼を受け付けました。<br>
  下記のリンクからパスワードの再設定をお願い致します。</p>
<%= link_to 'パスワードの再設定はこちら', @url %>
