<div id="js-bookmark-btn-<%= camp_field.name %>">  
  <%= link_to bookmark_camps_path(camp_field: { name: camp_field.name, latitude: camp_field.latitude, longitude: camp_field.longitude, address: camp_field.address, image: camp_field.image }), 
                                  method: :post, remote: true, style: 'color: black' do %>
    <i class="fa-regular fa-flag fa-lg"></i>
  <% end %>
</div>