<div class="card mb-4 mx-auto border border-secondary border-2" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-6 py-4 px-4">
      <% if camp_field.image %>
        <%= image_tag camp_field.image, class: 'card img-fluid rounded-3', style: 'max-width: 100%; height: auto;' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-title mx-auto">
        <h2 class="py-5 px-3"><%= image_tag 'tent.png' %><%= camp_field.name %></h2>
      </div>
      <div class="card-text">
        <p class="pb-2"><%= camp_field.address.gsub(/日本、/,"") %></p>
      </div>
    </div>
  </div>
</div>
