<div class="container">
  <div class="content-header">
    <div class="text-center">
      <h1>キャンプ場検索</h1>
      <div class="search-field">
        <%= form_with url: search_camps_path, method: :get do |f| %>
          <%= f.text_field :keyword %>
          <%= f.submit t('defaults.search') %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="map"></div>
  <div class="content">
    
</div>

<script async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?v=3&key=<%= ENV['GOOGLE_API_KEY'] %>"></script>

<style>
#map{
  height: 500px;
  margin: 0 auto;
}
</style>