<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-brand" >
        <%= link_to "CAMPER's", root_path %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "キャンプ記録", "#"%>
          </li>
        </ul>
      </div>
      <div class="navbar-brand" >
        <%= link_to t("defaults.login"), login_path %>
      </div>
    </div>
  </nav>
</header>