<footer class="main-footer" style="min-height: 130px; margin-bottom: 0px; background-color: silver">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Anything you want
  </div>
  <!-- Default to the left -->
  <strong>#<a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer>