<div class="container">
  <%= link_to '一覧に戻る', posts_path, class: 'btn btn-info rounded-pill float-right' %>
  <div class="row">
    <div class="image_box">
      <% if @post.images.present? %>
        <% @post.images.each do |image| %>
          <%= image_tag image, class: 'img-fluid float-left', style: 'width: 50%; height: 50%;' %>
        <% end %>
      <% else %>
        <%= image_tag 'default_campimage.JPG', class: 'card-img-top card border-dark' %>
      <% end %>
    <div>
  </div>
</div>
