<div class="content" style="height: 100%;">
  <%= link_to posts_path, class: 'btn btn-light rounded-pill float-right' do %>
    <i class="fa-solid fa-delete-left"></i>
  <% end %>
  <div class="row" style="height: 100%;">
    <% if @post.images.present? %>
      <% @post.images.each do |image| %>
        <%= image_tag image, class: 'col-lg-6 card-img-top card border-dark' %>
      <% end %>
    <% else %>
      <%= image_tag 'default_campimage.JPG', class: 'card-img-top card border-dark' %>
    <% end %>
  </div>
</div>
