<div class="container">
  <%= link_to '一覧に戻る', posts_path, class: 'btn btn-info rounded-pill float-right' %>
  <div class="row gy-5">
    <% if @post.images.present? %>
      <% @post.images.each do |image| %>
        <%= image_tag image, class: 'col-6 card-img-top card border-dark' %>
      <% end %>
    <% else %>
      <%= image_tag 'default_campimage.JPG', class: 'card-img-top card border-dark' %>
    <% end %>
  </div>
</div>
