<div class="content-header">
  <div class="container-fluid">
    <div class="text-center">
      <%= link_to "キャンプの記録を投稿する", new_post_path %>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <%= render @posts %>
    </div>
  </div>
</div>
