<% content_for(:title, t(".title")) %>
<div class="container">
  <div class="content-header">
    <div class="text-center">
      <h1><%= t '.title' %></h1>
      <%= link_to "チェックリストを作成する", new_checklist_path %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">チェックリスト名</th>
        <th scope="col">アイテム数</th>
        <th scope="col" width="60"></th>
        <th scope="col" width="60"></th> 
      </tr>
    </thead>
    <tbody>
      <% if @checklists.present? %>
        <%= render @checklists %>
      <% end %>
    </tbody>
  </table>
</div>