<% content_for(:title, t(".title")) %>
<%= render 'shared/links' %>
<div class="container">
  <div class="content-header">
    <div class="text-center">
      <h1 class="pt-3"><%= t '.title' %></h1>
      <%= link_to "チェックリストを作成する", new_checklist_path, class: 'btn btn-info rounded-pill px-4 my-3' %>
    </div>
  </div>
  <table class="table mb-0">
    <thead>
      <tr>
        <th scope="col">チェックリスト名</th>
        <th scope="col">アイテム数</th>
        <th scope="col" width="60"></th>
        <th scope="col" width="60"></th> 
      </tr>
    </thead>
    <tbody>
      <% if @checklists.present? %>
        <%= render @checklists %>
      <% end %>
    </tbody>
  </table>
</div>