@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

  * {
    font-family: 'Kaisei Decol', serif;
  }

  #category {
    width: 150px;
  }

  #item_category {
    width: 100%;
    height: 38px;
  }

  #camp-content {
    padding-top: 65px;
    background-color: rgb(255, 255, 255);
  }

  .top-content {
    background-image: url('top.JPG');
    background-size: cover;
  }

  Header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .footer {
    width:100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    min-height: 130px;
    margin-bottom: 0px;
  }

  #side-bar {
    position: fixed;
  }

  // paginate
.pagination{
  margin: auto;
  padding: 15px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  color: black;
  
}
.pagination span{
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 50px;
  color: rgb(13, 180, 218);
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
  border-radius: 20px;
}
.pagination span:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pagination span a:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.page.current {
  background-color: rgba(252, 207, 242, 0.298);
}

.search_container{
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 60px;
}
.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 2.5em;
  border: none;
  background: none;
  color: #3879D9;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.313);
}

.nav-link.active.btn {
  color: #000000;
  font-size: 24px;
}

.nav-link.btn {
  color: rgb(0, 0, 0);
  background-color: white;
  border: 4px solid;
  border-color: white;
  border-radius: 40px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.top-description {
  font-size: 40px;
}

.description {
  font-size: 20px;
}

.top-comment {
  border-radius: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(0, 0, 0);
}