@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import 'item_category';
@import 'pagination';
@import 'search_box';

#camp-content {
  background-color: #d99f0020;
}

.top-content {
  background-image: url('background2.JPG');
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

Header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.main-header {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  font-family: 'Kaisei Decol', serif;
}

.footer {
  width:100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  min-height: 130px;
  margin-bottom: 0px;
}

.main-footer {
  background-color: rgb(103, 103, 103);
}

#side-bar {
  position: fixed;
}

//main-link
.links.btn {
  color: black;
}

.links-img {
  height: 75%;
  width: 75%;
}

.nav-link.btn {
  color: rgb(255, 255, 255);
  background-color: #d8ae3a;
  border: 1px solid;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin: 0 auto;
  width: 60%;
  transition: color .3s;
  transition: .3s;
}

.nav-link.btn:hover {
  color:rgb(93, 93, 93);
  width: 80%;
  border-color: #d8ae3a;
}

//topページテキスト
.top-comment {
  height: 50vh;
  width: 50%;
  margin: 0 auto;
  color: rgb(227, 227, 227);
  margin-top: 30vh;
  font-family: 'Kaisei Decol', serif;
}

.top-discription {
  text-align: center;
  font-size: 2.5rem;
}

.discription {
  text-align: center;
  font-size: 1.3rem;
}

.discription.bottom {
  font-size: 1.8rem;
}

.fa-angles-down{
  position: absolute;
  bottom: 0;
  color: rgb(148, 148, 148);
}

.menu {
  font-size: 2.8rem;
  font-family: 'Kaisei Decol', serif;
  color: #734338;
  margin: 0 auto;
  width: 350px;
}

.menu:after {
  border-radius: 2.5px;
  background-color: #734338;
  content: "";
  display: block;
  height: 5px;
}

#open-btn {
  background-color: #d99f00;
  color: white;
}

#camp-image-lists {
  margin-top: 25px; 
  margin-bottom: 0px; 
  padding: 25px; 
  background-color: #d1b15745;
}

//各ページのタイトルフォント
.title {
  font-family: 'Kaisei Decol', serif;
}

.camp-fields {
  font-family: 'Kaisei Decol', serif;
}

//checklistページ
.no-items {
  font-family: 'Kaisei Decol', serif;
}